@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans+KR:wght@500&display=swap');

$breakpoint: 1080px;
$font: Montserrat; // or 'Lato'?
$text-color: #B95;
$hightlight-color: #f2f2f2;

$bg-color1: #20202D;
$bg-color2: #101018;
$bg-color3: #060612;