$bg-color1: #20202D;
$bg-color2: #101018;
$bg-color3: #060612;
$text-color: #B95;
$hightlight-color: #f2f2f2;
$breakpoint: 1080px;

.recordingContainer {
  font-family: Courier, monospace;
  position: relative;
  min-height: 100%;

  background: -webkit-radial-gradient(50% 50%, ellipse, $bg-color1 0%, $bg-color2 75%, $bg-color3 100%);
  background: -moz-radial-gradient(50% 50%, ellipse, $bg-color1 0%, $bg-color2 75%, $bg-color3 100%);
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.visible {
  // visibility: visible;
  display: inherit;
}

.hidden {
  // visibility: hidden;
  display: none;
}

.buttonsContainer {
  position: absolute;
  bottom: 0;
  margin-bottom: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  > div {
    margin: 1rem 0;
  }
}

button {
  font-family: inherit;
  background-color: transparent;
  color: $text-color;
  border: none;
  padding: 0.5rem;
  font-size: 16px;
  cursor: pointer;

  &:hover {
    color: $hightlight-color;
  }
  &:disabled {
    color: #3b3b3b;
  }
}

.text {
  text-shadow: 0 0 8px rgba(lighten($text-color, 50%), 0.3);
  font-size: 1.25rem;
  line-height: 2rem;
  color: $text-color;
}

.glitch {
  opacity: 0.25;
}

textarea.text {
  background-color: transparent;
  border: none;
  width: 80%;
  height: 50%;
}

.inputContainer {
  margin: 2rem 0 6rem;
  display: flex;
  p {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    text-align: center;
  }

  > p {
    margin: 0 2rem;
  }
  label {
    margin-top: .5rem;
  }
}

input[type="range"] {
  appearance: slider-vertical;
  cursor: pointer;
  accent-color: $text-color;
}

textarea {
  box-shadow: 0 0 10px rgba($hightlight-color, 0.3);
  padding: 2rem;
}

a {
  text-decoration: none;
  color: $text-color;
  &:hover {
    color: $hightlight-color;
  }
}

.inputWrapper {
  position: relative;
  margin: 1rem 0;

  datalist {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: absolute;
    left: calc(50% + 1rem);
    top: 0;
    text-align: left;
    font-size: 14px;
    color: #999;

    option {
      margin-bottom: 0.5rem;
    }
  }
}

.submitButton {

  svg {
    animation-name: spin;
    animation-duration: 600ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    width: 24px;
    height: 24px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.recordingIcon {
  border-radius: 50%;
  margin: 10px;
  margin-right: 1.5rem;
	height: 20px;
	width: 20px;
	transform: scale(1);
  background: rgba(255, 82, 82, 1);
  box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
  animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
	}
}

.recordingController:not(.hidden) {
  display: flex;
}

.resultText {
  margin: 2rem;
}

// Small Screen
@media screen and (max-width: $breakpoint) {
  .recordingContainer {
    height: auto;
    padding: 1.5rem 0;
  }
  .inputContainer {
    flex-direction: column;
    gap: 1.5rem;
  }

  textarea.text {
    max-width: 80%;
    width: 80%;
    min-height: 50%;
    height: 40vh;
    max-height: 70vh;
  }
}