$default-grid-columns: 12;

@for $i from 1 through calc($default-grid-columns + 1) {
  .colSt#{$i} {
    grid-column-start: $i;
  }
  .colE#{$i} {
    grid-column-end: $i;
    display: flex;
  }
  .rowSt#{$i} {
    grid-row-start: $i;
  }
  .rowE#{$i} {
    grid-row-end: $i;
  }
}
.flexCol {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.flexCenter {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding: 6rem 4rem;
  overflow-x: hidden;
}
.gridContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat($default-grid-columns, 1fr);
  gap: 1.5rem;
  row-gap: 2.5rem;
  align-items: center;
}

.picture {
  width: 100%;
  picture, img {
    display: flex;
    width: 100%;
    height: auto;
  }
}

.bgBlack {
  background-color: black;
}
